.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: calc(50vw - 50%);
    top: 40vh;
}

#count {
    font-size: xx-large;
}